In [133]:
import pandas as pd
import os
import glob

In [134]:
print('all csv files in data directory:', glob.glob('haloDataK2/haloC*.csv'))

all csv files in data directory: ['haloDataK2/haloC10.csv', 'haloDataK2/haloC11.csv', 'haloDataK2/haloC9.csv', 'haloDataK2/haloC13.csv', 'haloDataK2/haloC12.csv', 'haloDataK2/haloC8.csv', 'haloDataK2/haloC16.csv', 'haloDataK2/haloC17.csv', 'haloDataK2/haloC15.csv', 'haloDataK2/haloC14.csv', 'haloDataK2/haloC18.csv', 'haloDataK2/haloC4.csv', 'haloDataK2/haloC6.csv', 'haloDataK2/haloC7.csv']

In [135]:
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('', "haloDataK2/haloC*.csv"))), join='outer')

In [136]:
df.head()

,Name,Vmag,Sp. Type,EPIC ID,RA (J2000) [deg],Dec (J2000) [deg],MASK,Investigation IDs,LC TPF – 10.1,LC TPF – 10.2,...,LC 9.2 Flux Image,LC TPF,Halo Lightcurve,Lightcurve Image,Weight Image,Flux Image,TPF,LC Halo Lightcurve,RA (J2000),Dec (J2000)
0,Porrima,2.74,F1V+F0mF2V,200084004.0,190.414860,-1.449475,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Zaniah,3.90,A2IV,200084005.0,184.976380,-0.667183,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 Vir,5.48,B9V,200084006.0,188.444462,-9.452253,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21 Vir,5.48,B9V,228738487.0,188.444783,-9.452077,Regular,GO10077_LC|GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FW Vir,5.71,M3+IIICa0.5,200084007.0,189.593819,1.854722,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
len(df)

304

In [138]:
df_key = pd.DataFrame(df["Name"].unique(), columns = ['Name'] )

In [139]:
df_key

          Name
0      Porrima
1       Zaniah
2       21 Vir
3       FW Vir
4      HR 4837
..         ...
250     52 Sgr
251  Ainalrami
252    psi Sgr
253     43 Sgr
254    nu2 Sgr

[255 rows x 1 columns]

In [140]:
epic_ids = pd.read_csv('EPIC_numbers.txt', sep=" ", header=None)
epic_ids.columns = ["EPIC ID"]

In [141]:
epic_ids

       EPIC ID
0    200007767
1    200007768
2    200007769
3    200007770
4    200007771
..         ...
156  200233193
157  200233196
158  200233644
159  200233195
160  200233194

[161 rows x 1 columns]

In [142]:
df.dropna(subset = ["EPIC ID"], inplace=True)
df['EPIC ID'] = df['EPIC ID'].astype(int)

In [143]:
df

,Name,Vmag,Sp. Type,EPIC ID,RA (J2000) [deg],Dec (J2000) [deg],MASK,Investigation IDs,LC TPF – 10.1,LC TPF – 10.2,...,LC 9.2 Flux Image,LC TPF,Halo Lightcurve,Lightcurve Image,Weight Image,Flux Image,TPF,LC Halo Lightcurve,RA (J2000),Dec (J2000)
0,Porrima,2.740,F1V+F0mF2V,200084004,190.414860,-1.449475,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Zaniah,3.900,A2IV,200084005,184.976380,-0.667183,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 Vir,5.480,B9V,200084006,188.444462,-9.452253,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21 Vir,5.480,B9V,228738487,188.444783,-9.452077,Regular,GO10077_LC|GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FW Vir,5.710,M3+IIICa0.5,200084007,189.593819,1.854722,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,52 Sgr,4.598,B8/9V,200062585,294.176404,-24.885019,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Ainalrami,4.845,K1II,200062588,283.542904,-22.744355,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,psi Sgr,4.850,K0/1III+A/F,200062584,288.884973,-25.257284,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,43 Sgr,4.878,G8II-III,200062587,289.409117,-18.953224,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,nu2 Sgr,4.980,K3-II-III:CN1Ba1,200062586,283.779491,-22.671559,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [144]:
df_merged_epic = pd.merge(df, epic_ids, on='EPIC ID', how='inner')

In [145]:
df_merged_epic

,Name,Vmag,Sp. Type,EPIC ID,RA (J2000) [deg],Dec (J2000) [deg],MASK,Investigation IDs,LC TPF – 10.1,LC TPF – 10.2,...,LC 9.2 Flux Image,LC TPF,Halo Lightcurve,Lightcurve Image,Weight Image,Flux Image,TPF,LC Halo Lightcurve,RA (J2000),Dec (J2000)
0,Porrima,2.740,F1V+F0mF2V,200084004,190.414860,-1.449475,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Zaniah,3.900,A2IV,200084005,184.976380,-0.667183,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 Vir,5.480,B9V,200084006,188.444462,-9.452253,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FW Vir,5.710,M3+IIICa0.5,200084007,189.593819,1.854722,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HR 4837,5.918,G8III,200084008,190.908208,-1.576380,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,52 Sgr,4.598,B8/9V,200062585,294.176404,-24.885019,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,Ainalrami,4.845,K1II,200062588,283.542904,-22.744355,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,psi Sgr,4.850,K0/1III+A/F,200062584,288.884973,-25.257284,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,43 Sgr,4.878,G8II-III,200062587,289.409117,-18.953224,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,nu2 Sgr,4.980,K3-II-III:CN1Ba1,200062586,283.779491,-22.671559,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
dup = df_merged_epic.duplicated(subset=['EPIC ID'])
# df_merged_epic.iloc[dup[dup==True].index]
df_merged_epic[df_merged_epic['EPIC ID'] == 200200728]
df_merged_epic = df_merged_epic.drop(df.index[101])

In [147]:
df_merged_epic

,Name,Vmag,Sp. Type,EPIC ID,RA (J2000) [deg],Dec (J2000) [deg],MASK,Investigation IDs,LC TPF – 10.1,LC TPF – 10.2,...,LC 9.2 Flux Image,LC TPF,Halo Lightcurve,Lightcurve Image,Weight Image,Flux Image,TPF,LC Halo Lightcurve,RA (J2000),Dec (J2000)
0,Porrima,2.740,F1V+F0mF2V,200084004,190.414860,-1.449475,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Zaniah,3.900,A2IV,200084005,184.976380,-0.667183,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 Vir,5.480,B9V,200084006,188.444462,-9.452253,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FW Vir,5.710,M3+IIICa0.5,200084007,189.593819,1.854722,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HR 4837,5.918,G8III,200084008,190.908208,-1.576380,Halo,GO10025_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,52 Sgr,4.598,B8/9V,200062585,294.176404,-24.885019,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,Ainalrami,4.845,K1II,200062588,283.542904,-22.744355,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,psi Sgr,4.850,K0/1III+A/F,200062584,288.884973,-25.257284,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,43 Sgr,4.878,G8II-III,200062587,289.409117,-18.953224,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,nu2 Sgr,4.980,K3-II-III:CN1Ba1,200062586,283.779491,-22.671559,Halo,GO7081_LC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
stars_df = df_merged_epic[[ 'RA (J2000) [deg]', 'Dec (J2000) [deg]']].round(4)

In [149]:
stars_df

     RA (J2000) [deg]  Dec (J2000) [deg]
0            190.4149            -1.4495
1            184.9764            -0.6672
2            188.4445            -9.4523
3            189.5938             1.8547
4            190.9082            -1.5764
..                ...                ...
157          294.1764           -24.8850
158          283.5429           -22.7444
159          288.8850           -25.2573
160          289.4091           -18.9532
161          283.7795           -22.6716

[161 rows x 2 columns]

In [150]:
stars_df.to_csv('161_RaDec.csv', index = False)

In [151]:
from tess_waldo.waldo import Waldo

In [152]:
df_merged_epic.to_csv('161_merged_by_epic.csv', index = False)

In [169]:
RaDec_corr = pd.read_csv('161_RaDec_corr.csv', sep=',')

In [170]:
RaDec_corr.to_csv('161_RaDec_corr1.csv', header = False, index = False, sep=',')